<div>
  <ion-grid class="tablero">
    <ion-row>
      <ion-col (click)="seleccionaValor(valores[0])">
        {{ valores[0] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[1])">
        {{ valores[1] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[2])">
        {{ valores[2] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[3])">
        {{ valores[3] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="seleccionaValor(valores[4])">
        {{ valores[4] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[5])">
        {{ valores[5] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[6])">
        {{ valores[6] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[7])">
        {{ valores[7] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="seleccionaValor(valores[8])">
        {{ valores[8] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[9])">
        {{ valores[9] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[10])">
        {{ valores[10] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[11])">
        {{ valores[11] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="seleccionaValor(valores[12])">
        {{ valores[12] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[13])">
        {{ valores[13] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[14])">
        {{ valores[14] }}
      </ion-col>
      <ion-col (click)="seleccionaValor(valores[15])">
        {{ valores[15] }}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>