<div>
  <ion-grid>
    <ion-row>
      <ion-col>{{ valores[0] }}</ion-col>
      <ion-col>{{ valores[1] }}</ion-col>
      <ion-col>{{ valores[2] }}</ion-col>
      <ion-col>{{ valores[3] }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{ valores[4] }}</ion-col>
      <ion-col>{{ valores[5] }}</ion-col>
      <ion-col>{{ valores[6] }}</ion-col>
      <ion-col>{{ valores[7] }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{ valores[8] }}</ion-col>
      <ion-col>{{ valores[9] }}</ion-col>
      <ion-col>{{ valores[10] }}</ion-col>
      <ion-col>{{ valores[11] }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{ valores[12] }}</ion-col>
      <ion-col>{{ valores[13] }}</ion-col>
      <ion-col>{{ valores[14] }}</ion-col>
      <ion-col>{{ valores[15] }}</ion-col>
    </ion-row>
  </ion-grid>
</div>