<ion-header>
  <ion-toolbar>
    <ion-title>
      Juego memoria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-row>
    <ion-col *ngFor="let jugador of jugadores">
      <h3>
        <ion-icon name="star" *ngIf="jugador === jugadorActual"></ion-icon>
        Jugador {{ jugador.nombre }}
      </h3>
      Acertados: {{ jugador.aciertos }} <br/>
      Intentos: {{ jugador.intentos }} <br/>
    </ion-col>
    
  </ion-row>
  <app-memoria 
    [filas]=4
    [columnas]=8
    [jugadores]="totalJugadores"
    (acertado)="chequeaAciertos($event)" 
    (completado)="terminaJuego()"
    (jugador)="cambiaJugador($event)"></app-memoria>
</ion-content>
