<ion-header>
  <ion-toolbar>
    <ion-title>
      Juego memoria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col *ngFor="let jugador of jugadores; let numero = index">
      <h3>Jugador {{ numero + 1 }}</h3>
      Acertados: {{ jugador.aciertos }} <br/>
      Intentos: {{ jugador.intentos }} <br/>
    </ion-col>
    
  </ion-row>
  <app-memoria 
    [filas]=2
    [columnas]=4
    [jugadores]="totalJugadores"
    (acertado)="chequeaAciertos($event)" 
    (completado)="terminaJuego()"></app-memoria>
</ion-content>
