<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h3>
      Actual: {{ jugadorActual.nombre }}
    </h3>
    Acertados: {{ jugadorActual.aciertos }} <br/>
    Intentos: {{ jugadorActual.intentos }} <br/>
  </div>
  <ion-row>
    <ion-col *ngFor="let jugador of jugadores">
      <span>
        <ion-icon name="star" *ngIf="jugador === jugadorActual"></ion-icon>
        {{ jugador.nombre }}
      </span>
    </ion-col>
  </ion-row>
  <app-memoria 
    [filas]=4
    [columnas]=8
    [jugadores]="jugadores.length"
    (acertado)="chequeaAciertos($event)" 
    (completado)="terminaJuego()"
    (jugador)="cambiaJugador($event)"></app-memoria>
</ion-content>
