<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-item>
      <ion-label>Añadir jugador:</ion-label>
      <ion-input #nombreJugador></ion-input>
      <ion-button (click)="agregaJugador(nombreJugador.value); nombreJugador.value = '';">Añadir</ion-button>
    </ion-item>
  </ion-row>
  <ion-row *ngFor="let jugador of jugadoresService.jugadores">
    <ion-col>
      <ion-input [(ngModel)]="jugador.nombre"></ion-input>
    </ion-col>
  </ion-row>
  <ion-button *ngIf="jugadoresService.jugadores.length" [routerLink]="'/home'">Jugar</ion-button>
</ion-content>
